@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  padding-top:100px;
  display: flex;
  flex-direction: column;
  padding-bottom: -100px;
}