.infoCard {
    width: 18rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.infoText {
    font-size: 11px !important;
    text-align: left;
    margin: 2%;
}

.bidBtn {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px !important;
    text-decoration: none;
    text-transform: uppercase;
    color:black;
    margin: 2%;
    border-radius: 3px;
    height: 35px;
    width: 90%;
}

.bidBtn:hover {
    background-color: #ffc312 !important;
    color: black;
  }

.deleteBtn {
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 300px;
    font-size: 100%;
    color:black;
    z-index: 1;
    margin: 2%;
    justify-content: center;
    align-items: center;
}