.infoCard {
    width: 18rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.infoText {
    font-size: 15px !important;
    text-align: left;
}

.bidBtn {
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 300px;
    font-size: 100%;
    color:black;
    z-index: 1;
    margin: 2%;
    justify-content: center;
    align-items: center;
}

.bidBtn:hover {
    background-color: #ffc312 !important;
  }

.deleteBtn {
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 300px;
    font-size: 100%;
    color:black;
    z-index: 1;
    margin: 2%;
    justify-content: center;
    align-items: center;
}