.timer {
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
}

.bidTimer {
  color: red
}

.endTimer {
  color: orange;
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.imageContain {
  width: 40%;
  height: 300px;
}

.imageCard {
  height: 600px;
  background-color: white !important;
}

.infoList {
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  list-style: none;
  text-align: left;
}


.chatCard {
  height: 600px;
  border-radius: 15px;
  border-color: black;
  border-style: solid;
  border-width: 4px;
}

.msgBody {
  border: none;
}

.cardEnd {
  border-radius: 0 0 15px 15px !important;
  border-top: solid;
}

.userName {
  font-family: "Bangers";
  font-size: 20px;
  color: white;
}

.bidItem {
  color: white;
  font-family: "Bangers";
}

.customBidBtn{
  background-color: white;
  color: black;
  margin: 20px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  font-family: "Bangers";
}

.customBidBtn:hover{
  background-color: #ffc312;
}

.chatContainer {
  width: 20%;
  height: 280px;
}

.chat-input {
  width: 480px;
  height: 60px;
}

.chatBtn {
  background-color: white;
  color: black;
  margin: 10px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  font-family: "Bangers";
}

.chatBtn:hover {
  background-color: #ffc312;
}

.redirectBtn {
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 300px;
  font-size: 100%;
  color:black;
  z-index: 1;
  margin: 2%;
  justify-content: center;
  align-items: center;
}

.redirectBtn:hover {
  background-color: #ffc312 !important;
}

.scrollbar {
  overflow: scroll;
}