#checkoutContain {
    margin-top: 6%;
}

.submitBtn {
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 300px;
    font-size: 100%;
    color:black;
    z-index: 1;
    margin: 10px;
    justify-content: center;
    align-items: center;
}