.regularFont {
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
}
.titleFont {
  font-family: 'Work Sans', sans-serif;
  font-size: 40px;
}

.toBidBtn {
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 300px;
  font-size: 100%;
  color:black;
  z-index: 1;
  margin: 2%;
  justify-content: center;
  align-items: center;
}

.toBidBtn:hover {
  background-color: #ffc312 !important;
}

.postCard {
  max-width: 50%;
}

.formLabel {
  font-family: "Bangers";
}

.addBid {
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 300px;
  font-size: 100%;
  color:black;
  z-index: 1;
  margin: 2%;
  justify-content: center;
  align-items: center;
}

.addBid:hover {
  background-color: #ffc312 !important;
}