.profileContainer {
    margin: 6%;
}

.tableInfo {
    text-align: left;
}

.profileBtns {
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 300px;
    font-size: 100%;
    color:black;
    z-index: 1;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}

.profileBtns:hover {
    background-color: #ffc312 !important;
}

.submitBtn {
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 300px;
    font-size: 100%;
    color:black;
    z-index: 1;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}

.submitBtn:hover {
    background-color: #ffc312 !important;
}

.mt-2{
    font-family: 'Work Sans', sans-serif;  
}

.nav-item.nav-link{
    color: black;
    font-family: 'Work Sans', sans-serif;
}



