.navBtns {
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 300px;
  font-size: 100%;
  color:rgb(63, 62, 62);
  z-index: 1;
  text-decoration: none;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  padding:.5rem 1rem
}

.navBtns:hover {
  background-color: #ffc312 !important;
}

#navbarDropdown::after {
content: none;  
}

.logoIcon{
height: 55px;
float: left;
margin-left: -140px;
}

.active{
  background-color: #ffc312;
  
}
.active.navBtns:hover{
  color: black
}

.navbar-nav{
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 300px;
  font-size: 100%;
  color:gray;
  z-index: 1;
  text-decoration: none;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  
}
a:hover{
  color: black;
  
}