.navBtns {
    font-family: "Bangers";
    font-size: 150%;
    z-index: 1;
    text-decoration: none;
  }
  
  .navBtns:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }

#navbarDropdown::after {
  content: none;  
}