.navBtns {
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 300px;
  font-size: 100%;
  color:black;
  z-index: 1;
  text-decoration: none;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}

.navBtns:hover {
  background-color: #ffc312 !important;
}

#navbarDropdown::after {
content: none;  
}

.logoIcon{
height: 55px;
float: left;
margin-left: -140px;
}

