.brandContainer {
    margin: 10%;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

.bigCard {
    height: 300%;
}

.imgBrand {
    color: black;
}

.imgBrand:hover {
    color: black;
}

.card-title {
    font-size: 24px;
}

Col {
    font-size: 19px;
}

  